Repository trailmix/pagic: changes, and which Codecov flags are due for each by the changed paths.
All: src, test

pwa-node example, debugging works📣
  .vscode/launch.json
Due: none

this utilizes most deno/vscode feat. + codecov
  .vscode/settings.json
Due: none

add basic Pagic 🚧⛔️🚧 : dusty AF
  pagic.config.tsx
  src/Pagic.ts
  src/plugins/blog.tsx
  src/plugins/ga_component.tsx
  src/plugins/gitalk_component.tsx
  src/plugins/out.tsx
  src/plugins/sidebar.tsx
  src/plugins/tsx.tsx
  src/tests/mocks/utils.ts
  src/types/any.d.ts
  src/utils/PagicPlugin.ts
  src/utils/PagicTheme.ts
  src/utils/common.ts
  src/utils/filepath.ts
  src/utils/filepath_test.ts
  src/utils/import.ts
  src/utils/mod.ts
Due: src, test

works with args in file:json and console:string
  src/utils/PagicLogger.ts
Due: src

2772 tests test cases for logger😳
  .vscode/settings.json
  deps.ts
  src/tests/PagicLogger_test.ts
  src/tests/mocks/utils.ts
  src/utils/PagicConfiguration.ts
  src/utils/mod.ts
Due: src, test

try codecov in gh actions
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
Due: none

generate codecov even if we fail tests
  .github/workflows/codecov.yml
Due: none

lcov not created with failure, oops
  .github/workflows/codecov.yml
Due: none

functional tests, string helpers
  src/tests/PagicLogger_test.ts
  src/tests/mocks/utils.ts
  src/utils/PagicConfiguration.ts
  src/utils/PagicLogger.ts
Due: src, test

Path conditions:
  src: any of: src, but not: src/tests/
  test: any of: src/tests/
